In [24]:
# Import libraries
import pandas as pd
import numpy as np
import geopandas as gp
import matplotlib.pyplot as plt
import glob
import folium

In [53]:
# List all herbage data
path_herbage = 'C:/Users/neliq/Documents/NIF/Rothamsted/1.2.Herbage_data'
files_herbage = glob.glob(path_herbage + '/' + '*Herbage Survey*.csv')
files_herbage

['C:/Users/neliq/Documents/NIF/Rothamsted/1.2.Herbage_data\\Field Survey Data_Format 1_Herbage Survey_2013-01-01_2013-12-31.csv',
 'C:/Users/neliq/Documents/NIF/Rothamsted/1.2.Herbage_data\\Field Survey Data_Format 1_Herbage Survey_2018-01-01_2018-12-31.csv',
 'C:/Users/neliq/Documents/NIF/Rothamsted/1.2.Herbage_data\\Field Survey Data_Format 1_Herbage Survey_2019-01-01_2019-12-31.csv',
 'C:/Users/neliq/Documents/NIF/Rothamsted/1.2.Herbage_data\\Field Survey Data_Format 1_Herbage Survey_2020-01-01_2020-12-31.csv',
 'C:/Users/neliq/Documents/NIF/Rothamsted/1.2.Herbage_data\\Field Survey Data_Format 1_Herbage Survey_2021-01-01_2021-12-31.csv']

In [49]:
# List all silage files
path_silage = 'C:/Users/neliq/Documents/NIF/Rothamsted/1.1.Silage_data'
files_silage = glob.glob(path_silage + '/' + '*Silage*.csv')
files_silage

['C:/Users/neliq/Documents/NIF/Rothamsted/1.1.Silage_data\\Field Survey Data_Format 1_Silage Cut Survey_2011-01-01_2011-12-31.csv',
 'C:/Users/neliq/Documents/NIF/Rothamsted/1.1.Silage_data\\Field Survey Data_Format 1_Silage Cut Survey_2012-01-01_2012-12-31.csv',
 'C:/Users/neliq/Documents/NIF/Rothamsted/1.1.Silage_data\\Field Survey Data_Format 1_Silage Cut Survey_2013-01-01_2013-12-31.csv',
 'C:/Users/neliq/Documents/NIF/Rothamsted/1.1.Silage_data\\Field Survey Data_Format 1_Silage Cut Survey_2014-01-01_2014-12-31.csv',
 'C:/Users/neliq/Documents/NIF/Rothamsted/1.1.Silage_data\\Field Survey Data_Format 1_Silage Cut Survey_2015-01-01_2015-12-31.csv',
 'C:/Users/neliq/Documents/NIF/Rothamsted/1.1.Silage_data\\Field Survey Data_Format 1_Silage Cut Survey_2016-01-01_2016-12-31.csv',
 'C:/Users/neliq/Documents/NIF/Rothamsted/1.1.Silage_data\\Field Survey Data_Format 1_Silage Cut Survey_2017-01-01_2017-12-31.csv',
 'C:/Users/neliq/Documents/NIF/Rothamsted/1.1.Silage_data\\Field Survey Data_Format 1_Silage Cut Survey_2018-01-01_2018-12-31.csv',
 'C:/Users/neliq/Documents/NIF/Rothamsted/1.1.Silage_data\\Field Survey Data_Format 1_Silage Cut Survey_2019-01-01_2019-12-31.csv']

In [50]:
# Join all silage datasets
files_concat_silage = pd.concat([pd.read_csv(f) for f in files_silage])
files_concat_silage.head()

,Experiment_Id,SP_ID,sample_distance (m),Field,Flume,Sample_date,Sample_time,comments,Start_Sample_Date,GPS_Sample_Nr,Easting,Northing,Silage Dry Matter Yield (kg/ha),Silage Dry Matter Yield Quality,Silage Dry Matter Yield Quality Last Modified
0,NW558_SC1,68,NaN,Little Pecketsford,1,25/05/2011,12:00:00,Little Pecketsford,NaN,1,265701.2343,99027.88295,6220.02,Not set,04/01/2017
1,NW558_SC1,19,NaN,Pecketsford,1,25/05/2011,12:01:00,Pecketsford,NaN,2,265621.3570,99162.64359,8335.66,Not set,04/01/2017
2,NW558_SC1,19,NaN,Pecketsford,1,25/05/2011,12:02:00,Pecketsford,NaN,3,265637.3313,99038.38699,7116.73,Not set,04/01/2017
3,NW558_SC1,19,NaN,Pecketsford,1,25/05/2011,12:03:00,Pecketsford,NaN,4,265595.7734,99118.05719,7003.35,Not set,04/01/2017
4,NW558_SC1,19,NaN,Pecketsford,1,25/05/2011,12:04:00,Pecketsford,NaN,5,265615.0239,99241.73070,8485.22,Not set,04/01/2017

In [54]:
# Join all herbage datasets
files_concat_herbage = pd.concat([pd.read_csv(f) for f in files_herbage])
files_concat_herbage.head()

,Experiment_Id,SP_ID,sample_distance (m),Field,Flume,Sample_date,Sample_time,comments,Start_Sample_Date,GPS_Sample_Nr,...,Total_Bo_NRM1 Quality Last Modified,Total C (%w/w) Herb,Total_C_H_NRM1 Quality,Total_C_H_NRM1 Quality Last Modified,C:N ratio,C_N_ratio_NRM1 Quality,C_N_ratio_NRM1 Quality Last Modified,Dry Matter Content (%) in-house,DM_H_NW1 Quality,DM_H_NW1 Quality Last Modified
0,FP010,2,50.0,Pecketsford,1,09/07/2013,12:00:00,NaN,02/07/2013,ht_2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,FP010,7,50.0,Pecketsford,1,09/07/2013,12:00:00,NaN,02/07/2013,ht_7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,FP010,9,50.0,Pecketsford,1,09/07/2013,12:00:00,NaN,02/07/2013,ht_9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,FP010,17,50.0,Pecketsford,1,09/07/2013,12:00:00,NaN,02/07/2013,ht_17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,FP010,19,50.0,Pecketsford,1,09/07/2013,12:00:00,NaN,02/07/2013,ht_19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
# Check field names
#files_concat_herbage['Field'].unique().tolist()
files_concat_silage['Field'].unique().tolist()

['Little Pecketsford',
 'Pecketsford',
 'Great Field',
 'Ware Park',
 'Top Burrows',
 'Burrows',
 'Bottom Burrows',
 'Orchard Dean, Orchard Dean North',
 'Lower Wyke Moor',
 'Middle Wyke Moor',
 'Dairy South',
 'Dairy Corner',
 'Poor Field',
 'Higher Wyke Moor',
 'Burrows, Burrows',
 'Golden Rove',
 'Bottom Burrows, Bottom Burrows',
 'Orchard Dean, Orchard Dean South',
 'Dairy East',
 'Lower Wheaty',
 'Dairy North',
 'Longlands South',
 'Longlands North',
 'Longlands East']

In [58]:
# Select only Field 'Burrows'
fields_silage = ['Burrows', 'Burrows, Burrows']
filesBurrows_silage = files_concat_silage[files_concat_silage.Field.isin(fields_silage)].reset_index(drop = True)
filesBurrows_silage.drop(['SP_ID', 'sample_distance (m)', 'Start_Sample_Date', 'Silage Dry Matter Yield Quality Last Modified'], 
                  axis = 1, inplace = True)
filesBurrows_silage.head()

,Experiment_Id,Field,Flume,Sample_date,Sample_time,comments,GPS_Sample_Nr,Easting,Northing,Silage Dry Matter Yield (kg/ha),Silage Dry Matter Yield Quality
0,NW558_SC1,Burrows,4,25/05/2011,12:01:00,Burrows,20,265555.2912,98391.25314,7449.53,Not set
1,NW558_SC1,Burrows,4,25/05/2011,12:02:00,Burrows,21,265592.1536,98314.89750,6059.88,Not set
2,NW558_SC1,Burrows,4,25/05/2011,12:03:00,Burrows,22,265678.8192,98259.63132,7009.69,Not set
3,NW558_SC1,Burrows,4,25/05/2011,12:04:00,Burrows,23,265742.8685,98240.71768,5927.21,Not set
4,NW558_SC1,Burrows,4,25/05/2011,12:05:00,Burrows,24,265694.5264,98413.41024,7060.46,Not set

In [60]:
# Select only Field 'Burrows'
fields_herbage = ['Burrows']
filesBurrows_herbage = files_concat_herbage[files_concat_herbage.Field.isin(fields_herbage)].reset_index(drop = True)
filesBurrows_herbage.head()

,Experiment_Id,SP_ID,sample_distance (m),Field,Flume,Sample_date,Sample_time,comments,Start_Sample_Date,GPS_Sample_Nr,...,Total_Bo_NRM1 Quality Last Modified,Total C (%w/w) Herb,Total_C_H_NRM1 Quality,Total_C_H_NRM1 Quality Last Modified,C:N ratio,C_N_ratio_NRM1 Quality,C_N_ratio_NRM1 Quality Last Modified,Dry Matter Content (%) in-house,DM_H_NW1 Quality,DM_H_NW1 Quality Last Modified
0,NW686-H,2005,NaN,Burrows,4,18/04/2018,12:00:00,Burrows - Spring 2018 - Bulked - virtual samp...,NaN,NW686-H078,...,19/04/2020,47.9,Not set,19/04/2020,13.9,Not set,19/04/2020,NaN,NaN,NaN
1,NW686-H,2005,NaN,Burrows,4,30/07/2018,12:00:00,Burrows - Summer 2018 - Bulked - virtual samp...,NaN,NW686-H239,...,19/04/2020,48.2,Not set,19/04/2020,21.0,Not set,19/04/2020,NaN,NaN,NaN
2,NW686-H,2005,NaN,Burrows,4,23/10/2018,12:00:00,Burrows - Autumn 2018 - Bulked - virtual samp...,NaN,NW686-H260,...,19/04/2020,52.4,Not set,19/04/2020,13.9,Not set,19/04/2020,NaN,NaN,NaN
3,NW686-H,2005,NaN,Burrows,4,14/01/2019,12:00:00,Burrows - Winter 2019 - Bulked - virtual samp...,NaN,NW686-S281,...,19/04/2020,45.1,Not set,19/04/2020,12.1,Not set,19/04/2020,NaN,NaN,NaN
4,NW686-HP,2005,NaN,Burrows,4,18/04/2018,12:01:00,Burrows - Archived - sample location,NaN,NW686-H079_BR2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.83,Not set,19/04/2020

In [61]:
# Check dates
filesBurrows_herbage['Sample_date'].unique()
filesBurrows_silage['Sample_date'].unique()

array(['25/05/2011', '09/08/2011', '25/05/2012', '15/09/2014',
       '27/05/2015', '18/05/2017', '20/05/2019'], dtype=object)

In [63]:
# Group by dates and convert to g_m2
burrowsSilage_by_date = filesBurrows_silage.groupby(['Sample_date']).mean().reset_index(drop = False).round(2)
burrowsHerbage_by_date = filesBurrows_herbage.groupby(['Sample_date']).mean().reset_index(drop = False).round(2)

burrowsSilage_by_date['silage_gm2'] = (burrowsSilage_by_date['Silage Dry Matter Yield (kg/ha)'] / 10).round(2)
burrowsSilage_by_date

,Sample_date,Easting,Northing,Silage Dry Matter Yield (kg/ha),silage_gm2
0,09/08/2011,265638.81,98327.11,4864.09,486.41
1,15/09/2014,265642.86,98271.43,6418.45,641.84
2,18/05/2017,265630.00,98325.00,6025.40,602.54
3,20/05/2019,265595.00,98295.00,4882.40,488.24
4,25/05/2011,265628.33,98330.50,6657.17,665.72
5,25/05/2012,265642.86,98271.43,3851.20,385.12
6,27/05/2015,265658.33,98316.67,5923.02,592.30

In [47]:
# Export
burrowsSilage_by_date.to_csv("C:/Users/neliq/Documents/NIF/Rothamsted/1.1.Silage_data/burrowsSilage_by_date.csv", 
                             index = False)
burrowsHerbage_by_date.to_csv("C:/Users/neliq/Documents/NIF/Rothamsted/1.2.Herbage_data/burrowsHerbage_by_date.csv", 
                              index = False)